/* Ensures all pages fill the entire space */
.audit-container {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 60px);
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.audit-container h1 {
  font-size: 2rem;
  color: #333;
}
