.modify-banner-container {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 60px);
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #333;
}

.modify-banner-heading {
  font-size: 2rem;
  color: #333;
}

.modify-banner-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.modify-banner-dropdown-container {
  margin-bottom: 20px;
}

.modify-banner-dropdown {
  padding: 8px;
  font-size: 1rem;
}

.modify-banner-content {
  display: flex;
  width: 100%;
  max-width: 800px;
  justify-content: space-between;
  margin-top: 20px;
}

.modify-banner-left,
.modify-banner-right {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
}

.modify-banner-right {
  margin-left: 20px;
}

.modify-banner-preview {
  padding: 20px;
  background-color: #ddd;
  border-radius: 8px;
  font-weight: bold;
}